/*.whiteBox{*/
/*	background: white;*/
/*	top: 50px;*/
/*	position: center;*/
/*	width: 500px;*/
/*	height: 500px;*/
/*	transition: all 0.5s ease;*/
/*	border-radius: 30px;*/
/*	margin-top: 50px;*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*	justify-content: stretch;*/
/*	align-items: center;*/
/*}*/

h2{
    margin-bottom: 20px;
    margin-top: 15px;
}

button {
    margin-bottom: 15px;
}
.deleteAccButton{
  width: 150px;
  height: 50px;
  border-style: hidden;
  border-radius: 12px;
  background: rgba(22, 156, 198, 0.55);
  color: #000000;
  transition-duration: 0.2s;
  align-content: center;
  vertical-align: middle;
}
.deleteAccButton:hover{
  background-color: #b7e7e7;
  color: black;
}

 select{
     margin-bottom: 40px;
 }

label{
    margin-bottom: 40px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

