@()
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ANATOMANIA Login</title>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/login.css")'>
    <script src='@routes.Assets.versioned("javascripts/login.js")' type="text/javascript"></script>
</head>
<body>
<!-- partial:index.partial.html -->
<div id="login-form-wrap">
    <h2>Login</h2>
    <div id="login-form">

        <p>
            <input type="text" id="username" name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
            <input type="password" id="password" name="password" placeholder="Passwort" required ><i class="validation" ><span></span><span></span></i>
        </p>
        <p>
            <input type="submit" id="login" value="Login" onclick="goToAuthenticate()">
        </p>
    </div>
    <div id="create-account-wrap">
        <p>Noch kein Account? <a href="signup">Erstelle einen Account</a><p>
    </div><!--create-account-wrap-->
</div><!--login-form-wrap-->
<!-- partial -->
</body>
</html>
